/* CSS Entry Point */

// Turn on freq used libraries
// @import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
.app{
	// background-color: gray;
}

.users{
	border: 1px solid black;
	width: 500px;
	margin: 50px auto;
}